<DOCTYPE! html>
<html>
<head>
  <title>About | DevConnect</title>
</head>
<body>
  <h1>The future of group making!</h1>

  <p>We've all experienced having to work in groups. Worrying about how the work of the project is going to be allocated amongst group memebers who are meeting each other for the first time. This initial akward step is painful for everyone. DevConnect is here to help!</p>

  <h1>What are we doing about it?</h1>
  <p>DevConnect is designed to making group finding easier for students in Computer Science classes. Think of this as sort of a friend dating profile, you sign up on our site, and input things such as your classes, your prefered languages and your avaliability. Based on these and other fields we're able to use are group mathing algorithm to help find matches for you. You'll be matched with people who have very similar intrests to you, making it easier for you, and for your group to start working on a project without having to deal with the awkward meetings with people who you feel you don't actually know that well.</p>

  <h1>Our Story</h1>
  <p>This project was created a midst looking for team mates for our Software Developent class project. The problem became very clear: How do you find a group, and showing them your skills without being awkward or sounding concieted? We developed DevConnect in order to make this group finding process a little easier on ourselves as well as people who may need to find groups in the future.</p>
  
</body>
</html>
