<DOCTYPE! html>
<html>
  <head>
    <title>DevConnect</title>
    <link href="main.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nova+Square" rel="stylesheet">
  </head>
  <body>
    <img src="DevConnect.png" id="logo"></div>
    <form>
    <!--form action=server side script file, method= post-->
      <fieldset>
      <legend>Personal information:</legend>
        First name:<br>
        <input type="text" name="firstname"><br>
        <br>
        Last name:<br>
        <input type="text" name="lastname">
        <br>
        <br>
        <input type="submit" value="Submit">
      </fieldset>
      <br>
      <fieldset>
        <legend>Courses Taken</legend>
        <input type="checkbox" name="1300" value="class"> CSCI 1300/1310 <br>
        <input type="checkbox" name="2270" value="class"> CSCI 2270 <br>
        <input type="checkbox" name="2400" value="class"> CSCI 2400 <br>
        <input type="checkbox" name="2270" value="class"> CSCI 2270 <br>
        <input type="checkbox" name="3022" value="class"> CSCI 3022 <br>
        <input type="checkbox" name="3155" value="class"> CSCI 3155 <br>
        <input type="checkbox" name="2820" value="class"> CSCI 2820 <br>
        <input type="checkbox" name="2824" value="class"> CSCI 2824 <br>
        <input type="checkbox" name="3750" value="class"> CSCI 3753 <br>
        <input type="submit" value="Submit">
      </fieldset>
      <br>
      <fieldset>
        <legend>Languages</legend>
        <input type="checkbox" name="Python" value="language"> Python <br>
        <input type="checkbox" name="C++" value="language"> C++ <br>
        <input type="checkbox" name="C" value="language"> C <br>
        <input type="checkbox" name="Java" value="language"> Java <br>
        <input type="checkbox" name="Javascript" value="language"> Javascript <br>
        <input type="checkbox" name="Ruby" value="language"> Ruby <br>
        <input type="checkbox" name="Ruby on Rails" value="language"> Ruby on Rails <br>
        <input type="checkbox" name="HTML" value="language"> HTML/CSS <br>
      </fieldset>
      <br>
      <fieldset>
        <legend>Skills</legend>
        <input type="checkbox" name="SQL" value="skill"> SQL <br>
        <input type="checkbox" name="Shell" value="skill"> Shell Scripting <br>
        <input type="checkbox" name="App" value="skill"> App Development <br>
        <input type="checkbox" name="PaaS" value="skill"> PaaS (Heroku or Google AppEngine) <br>
    </form>
  </body>
</html>
