<DOCTYPE! html>
<html>
<head>
  <title>DevConnect</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="main.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nova+Square" rel="stylesheet">
</head>
<body>
  <img src="DevConnect.png" id="logo"></div>
  <nav>
    <ul>
      <li><button class="button" type="button">SIGNUP</button></li>
      <li><button class="button" type="button">LOGIN</button></li>
      <li><button class="button" type="button">ABOUT</button></li>
    </ul>
  </nav>
  <ul class="names"> 
    <li>&#60Cassidy Haas></li> 
    <li>&#60Dante Pacionek> </li>
    <li>&#60Jeffrey Lipnick></li> 
    <li>&#60Pierce Doogan></li> 
    <li>&#60Ryan Turner></li> 
  </ul>
</body>
</html>
