<DOCTYPE! html>
<html>
<head>
  <title>DevConnect</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="main.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nova+Square" rel="stylesheet">
</head>
<body>
  <img src="DevConnect.png" id="logo"></div>
  <nav>
    <ul>
      <li><a class="button" href="#">Signup</a></li>
      <li><a class="button" href="#">Login</a></li>
      <li><a class="button" href="#">About</a></li>
    </ul>
  </nav>
  <ul class="names"> 
    <li>&#60;Cassidy Haas&#62;</li> 
    <li>&#60;Dante Pacionek&#62; </li>
    <li>&#60;Jeffrey Lipnick&#62;</li> 
    <li>&#60;Pierce Doogan&#62;</li> 
    <li>&#60;Ryan Turner&#62;</li> 
  </ul>
</body>
</html>
