<DOCTYPE! html>
<html>
  <head>
    <title>DevConnect</title>
    <link href="main.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nova+Square" rel="stylesheet">
  </head>
  <body>
    <img src="DevConnect.png" id="logo"></div>
    <nav>
      <ul>
        <div id="menu">
          <button class="button" type="button">SIGNUP</button>
          <button class="button" type="button">LOGIN</button>
          <button class="button" type="button">ABOUT</button>
        </div>
    </ul>
    </nav>
    <p class="names"> &#60Cassidy Haas> &#60Dante Pacionek> &#60Jeffrey Lipnick> &#60Pierce Doogan> &#60Ryan Turner> </p>
  </body>
</html>
