<DOCTYPE! html>
<html>
  <head>
    <title>DevConnect</title>
    <link href="../../assets/stylesheets/application.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nova+Square" rel="stylesheet">
  </head>
  <body>
    <a href="/"><img src="DevConnect.png" id="logo"></img></a>
    <form>
    <!--form action=server side script file, method= post-->
      <fieldset>
      <legend>Personal information:</legend>
        First name:<br>
        <input type="text" name="firstname"><br>
        <br>
        Last name:<br>
        <input type="text" name="lastname">
        <br>
      </fieldset>
      <br>
      <fieldset>
        <legend>Account Information </legend>
        Email:<br>
        <input type="text" name="email">
        <br>
        Password:<br>
        <input type="text" name="password">
        <br>
      </fieldset>
      <br>
      <fieldset>
        <legend>Other</legend>
        <div class="menu-wrap">
          <nav class="menu">
            <ul class="clearfix">
              <li><a href='#'> Language 1 </a>
                <ul class="sub-menu">
                  <li><a href '#'>Python</a></li>
                  <li><a href '#'>Ruby</a></li>
                  <li><a href '#'>C++</a></li>
                  <li><a href '#'>C</a></li>
                  <li><a href '#'>Javascript</a></li>
                  <li><a href '#'>Java</a></li>
                  <li><a href '#'>HTML/CSS</a></li>
                </ul>
              </li>
              <li><a href='#'>Language 2</a>
                <ul class="sub-menu">
                  <li><a href '#'>Python</a></li>
                  <li><a href '#'>Ruby</a></li>
                  <li><a href '#'>C++</a></li>
                  <li><a href '#'>C</a></li>
                  <li><a href '#'>Javascript</a></li>
                  <li><a href '#'>Java</a></li>
                  <li><a href '#'>HTML/CSS</a></li>
                </ul>
              </li>
              <li><a href='#'> Development Skills </a>
                <ul class="sub-menu">
                  <li><a href '#'>Front End</a></li>
                  <li><a href '#'>Back End</a></li>
                  <li><a href '#'>Design</a></li>
                </ul>
              </li>
              <li><a href='#'> Interests </a>
                <ul class="sub-menu">
                  <li><a href '#'>Web Application </a></li>
                  <li><a href '#'>Game </a></li>
                  <li><a href '#'>Mobile Application</a></li>
                </ul>
              </li>
              <li><a href='#'> Time Availability (First Choice)</a>
                <ul class="sub-menu">
                  <li><a href '#'>Monday</a></li>
                  <li><a href '#'>Tuesday</a></li>
                  <li><a href '#'>Wednesday</a></li>
                  <li><a href '#'>Thursday</a></li>
                  <li><a href '#'>Friday</a></li>
                  <li><a href '#'>Saturday</a></li>
                  <li><a href '#'>Sunday</a></li>
                </ul>
              </li>
              <li><a href='#'> Time Availability (Second Choice)</a>
                <ul class="sub-menu">
                  <li><a href '#'>Monday</a></li>
                  <li><a href '#'>Tuesday</a></li>
                  <li><a href '#'>Wednesday</a></li>
                  <li><a href '#'>Thursday</a></li>
                  <li><a href '#'>Friday</a></li>
                  <li><a href '#'>Saturday</a></li>
                  <li><a href '#'>Sunday</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </fieldset>
        <br>
        <br>
        <br>
        <input id="formSubmit" type="submit" value="Submit">
    </form>
  </body>
</html>
