<DOCTYPE! html>
<html>
  <head>
    <title>DevConnect</title>
    <link href="../../assets/stylesheets/application.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nova+Square" rel="stylesheet">
  </head>
  <body>
    <img src="DevConnect.png" id="logo"></div>
    <form>
    <!--form action=server side script file, method= post-->
      <fieldset>
      <legend>Personal information:</legend>
        First name:<br>
        <input type="text" name="firstname"><br>
        <br>
        Last name:<br>
        <input type="text" name="lastname">
        <br>
      </fieldset>
      <br>
      <fieldset>
        <legend>Account Information </legend>
        Email:<br>
        <input type="text" name="email">
        <br>
        Password:<br>
        <input type="text" name="password">
        <br>
      </fieldset>
      <br>
      <fieldset>
        <legend>Languages</legend>
        <div class="menu-wrap">
          <nav class="menu">
            <ul class="clearfix">
              <li><a href='#'> Language 1 </a>
                <ul class="sub-menu">
                  <li><a href '#'>Python</a></li>
                  <li><a href '#'>Ruby</a></li>
                  <li><a href '#'>C++</a></li>
                  <li><a href '#'>C</a></li>
                  <li><a href '#'>Javascript</a></li>
                  <li><a href '#'>Java</a></li>
                  <li><a href '#'>HTML/CSS</a></li>
                </ul>
              </li>
              <li><a href='#'>Language 2</a>
                <ul class="sub-menu">
                  <li><a href '#'>Python</a></li>
                  <li><a href '#'>Ruby</a></li>
                  <li><a href '#'>C++</a></li>
                  <li><a href '#'>C</a></li>
                  <li><a href '#'>Javascript</a></li>
                  <li><a href '#'>Java</a></li>
                  <li><a href '#'>HTML/CSS</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <!-- <input type="checkbox" name="Python" value="language"> Python <br>
        <input type="checkbox" name="C++" value="language"> C++ <br>
        <input type="checkbox" name="C" value="language"> C <br>
        <input type="checkbox" name="Java" value="language"> Java <br>
        <input type="checkbox" name="Javascript" value="language"> Javascript <br>
        <input type="checkbox" name="Ruby" value="language"> Ruby <br>
        <input type="checkbox" name="Ruby on Rails" value="language"> Ruby on Rails <br>
        <input type="checkbox" name="HTML" value="language"> HTML/CSS <br> -->
      </fieldset>
      <br>
      <fieldset>
        <legend>Skills</legend>
        <input type="checkbox" name="SQL" value="skill"> SQL <br>
        <input type="checkbox" name="Shell" value="skill"> Shell Scripting <br>
        <input type="checkbox" name="App" value="skill"> App Development <br>
        <input type="checkbox" name="PaaS" value="skill"> PaaS (Heroku or Google AppEngine) <br>
      </fieldset>
        <br>
        <br>
        <br>
        <input id="formSubmit" type="submit" value="Submit">
    </form>
  </body>
</html>
