<DOCTYPE! html>
<html>
  <head>
    <title>DevConnect</title>
    <link href="../../assets/stylesheets/application.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nova+Square" rel="stylesheet">
  </head>
  <body>
    <a href="/"><img src="DevConnect.png" id="logo"></div>
    <br>
    <br>
    <form class= "login" method=post>
    <!--form action=server side script file, method= post-->
        Username:
        <input type="text" name="username">
        Password:
        <input type="password" name="password">
        <br>
        <br>
        <br>
        <input id="formSubmit" type="submit" value="Submit">
      </form>
  </body>
</html>
