body {
  background-color: black;
  color: #333;
  font-family: 'Nove Square', cursive;
  font-size: 16px;
  line-height: 24px;
}

#logo {
  width: auto;
  display: block;
  margin: 0 auto;
  max-width: 561px;
  width: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

.button, .button:visited {
  color: #fff;
  background-color: #bdbdbd;
  background-image: linear-gradient(bottom, #d3d3d3, white);
  /*box-shadow: inset 0 0 0 0.5px white;*/
  border: none;
  border-radius: 3px;
  color: black;
  padding: 5px 7px;
  margin: 5px 0;
  text-align: center;
  font-size: 25px;
  font-family: 'Nova Square', cursive;
  font-weight:bold;
  transition: all .3s;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.names{
    text-align:center;
    max-width: 700px;
    width: 100%;
    margin: 30px auto;
    padding: 0;
    list-style-type: none;
}

.names li {
  display: inline-block;
  font-size:40px;
  color: gray;
  font-family: 'Nova Square', cursive;
  line-height: 40px;
}

form {
  color: white;
  font-family: 'Nova Square', cursive;
  display:run-in;
}

fieldset{
  background-color: white;
  color: black;
  margin: 0 auto 20px;
}

legend{
  color: grey;
  background-color: white;
  border-radius: 7px;
}

@media screen and (max-width: 700px) {
  .names li {
    display: block;
  }
}
@media screen and (max-width: 700px) {
  .names {
    margin: 15px auto;
  }
  .names li {
    font-size: 30px;
  }
  button {
    font-size: 18px;
  }
  nav ul li {
    margin: 0 3px;
  }
}

h1 {
  color: #bbb;
  text-align: center;
}

p, ol, ul, td {
  font-family: 'Nova Square', cursive;
  font-size: 13px;
  line-height:24px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a{
  color: #fff;

  &:visited{
    color: #666;
  }

  &hover{
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

ul li{
  font-size:12px;
  list-style: square;

}

main {
	max-width: 800px;
	margin: 0 auto;
	color: #bbb;
}
.new_user {
	color: #bbb;
	max-width: 400px;
	margin: 0 auto;
}
.new_user .field {
	width: 100%;
}
.new_user input, .new_user select {
	width: 100%;
	border-radius: 0;
	transition: all .25s;
	display: block;
}
.new_user .actions {
	text-align: center;
}
.new_user .actions input {
  color: #fff;
  background-color: #bdbdbd;
  background-image: linear-gradient(bottom, #d3d3d3, white);
  /*box-shadow: inset 0 0 0 0.5px white;*/
  border: none;
  border-radius: 3px;
  color: black;
  padding: 5px 20px;
  margin: 5px 0;
  text-align: center;
  font-size: 18px;
  font-family: 'Nova Square', cursive;
  font-weight:bold;
  transition: all .3s;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  width: auto;
}
.new_user .actions input:hover{
  opacity: 0.7;
  cursor: pointer;
}

#formSubmit {
  color: #fff;
  background-color: #bdbdbd;
  background-image: linear-gradient(bottom, #d3d3d3, white);
  box-shadow: inset 0 0 0 0.5px white;
  border: none;
  border-radius: 3px;
  color: black;
  padding: 5px 7px;
  margin: 5px 0;
  text-align: center;
  font-size: 25px;
  font-family: 'Nova Square', cursive;
  font-weight:bold;
  transition: all .3s;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
}

.clearfix:after {
  display: block;
  clear:both;
}


.menu-wrap {
   width: 100%;
   box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
   background: #3e3436;
}

.menu {
  width{
    1000px;
    margin: 0px auto;
  }
}
.menu li {
   margin: 0px;
   list-style: none;
   font-family: 'Nova Square', cursive;
}

.menu a {
   transition: all linear 0.15s;
   color:#91919191;
   text-decoration: none;
}

.menu li:hover > a, .menu .current-item > a {
   text-decoration: none;
   color: #5cbfaa;
}

.menu .arrow {
  font-size: 11px;
  line-height:0%;
}

/*Top LeveL */
.menu > ul > li {
  float: left;
  display: inline-block;
  position: relative;
  font-size: 19px;
  margin: 10px;
}

.menu >ul > li:hover > a, .menu >ul > .current-item >a {
  background: white;
}

/*Bottom Level */

.menu li:hover .sub-menu {
  z-index:1;
  opacity:1;
}

.sub-menu {
  width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index: 1;
    opacity:0;
    transition: opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background: gray;
}

.sub-menu li {
    display:block;
    font-size:16px;
}

.sub-menu li a {
    padding:10px 30px;
    display:block;
}

.sub-menu li a:hover, .sub-menu .current-item a {
  background: #2e2728;
}

.matches {
  margin-bottom: 50px;
}

.match {
  display: inline-block;
  width: 25%;
  background: #fff;
  color: #333;
  padding: 10px 15px;
  box-sizing: border-box;
  margin-right: 20px;
  transition: all .25s;
  position: relative;
}

.match:before {
  display: block;
  width: 100%;
  height: 100%;
  content: 'Join';
  position: absolute;
  color: #000;
  opacity: 0;
  transition: all .25s;
  text-align: center;
  background: #fff;
  top: 0;
  left: 0;
  font-size: 35px;
  padding: 50px 0 0 0;
  box-sizing: border-box;
}

.match:hover {
  cursor: pointer;
  color: #fff;
}

.match:hover:before {
  opacity: 1;
}

.match p {
  margin: 0;
  padding: 0;
}

/*.nav-menu > ul > li:after {
   content: "\25BC";
   font-size: .5em;
   display: inline;
   position: relative;
  }*/

.login {
  font-size:30px;
  text-align:center;
  display: inline-block;
  max-width: 1000px;
  width: 100%;
  margin: 30px auto;
  padding: 0;
  list-style-type: none;
}
