<DOCTYPE! html>
<html>
<head>
  <title>DevConnect</title>
</head>
<body>
  <ul class="names"> 
    <li>&#60;Cassidy Haas/&#62;</li> 
    <li>&#60;Dante Pacionek/&#62; </li>
    <li>&#60;Jeffrey Lipnick/&#62;</li> 
    <li>&#60;Pierce Doogan/&#62;</li> 
    <li>&#60;Ryan Turner/&#62;</li> 
  </ul>
</body>
</html>
